*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: the seasons;
}
body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: #f4e6e8;
}
h1{
    color: #9b5a65;
}
input{
    padding: 5px;
    margin: 10px;
    border: 1px solid #c06c7a;
    border-radius: 5px;
    width: 30vw;
    height: 6vh;
}
input::placeholder{
    color: #b9606f;
}
button{
    padding: 5px 10px;
    border: 1px solid #c87c89;
    border-radius: 5px;
    background-color: #dea5af;
    color: white;
    cursor: pointer;
    width: 20vw;
    height: 5vh;
    font-size: larger;
}
button:hover{
    background-color: #8e3f4c;
    transition: 0.2 ease;
}
p{
    margin: 10px;
    color: #81313e;
}