*{
    margin: 0 20px 0 20px;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'The seasons';
    background-color: #97d697;
    color: rgb(5, 56, 24);
}
header{
    margin: 0 -40px 0 -40px;
    background-color: #08410f;
    color:#fff;
    padding: 20px;
    text-align: center;
    height: 130px;
}
header h1{
    margin-top: 0px;
    font-size: 50px;
    text-shadow: 
    0 0 10px #1a6d1c,
    0 0 30px #42b644, 
    0 0 50px #42b644; 
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav li:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}
nav a{
    color: #fff;
    text-decoration: none;
    display: inline;
    font-weight: bold;
}
nav a:hover{
    color: #479e5d;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}
label{
    font-size: 22px;
}
input{
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 2px solid #206239;
    border-radius: 8px;
    font-size: 16px;
    height: 60px;
}

button{
    padding: 10px;
    margin: 30px 0 20px 0;
    border: 2px solid #206239;
    border-radius: 8px;
    font-size: 16px;
    height: 60px;
    background-color: #479e5d;
    font-family: The seasons;
    font-size: 20px;
}
button:hover{
    background-color: #084321;
    transition: 0.2s;
    color: #fff;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 50px 0 0 0;
}
thead{
    background: #0d5c2f;
    color: #fff;
}
thead th{
    padding: 14px;
    text-align: left;
    font-size: 22px;
    color: #ffffff;
}
td img {
    width: 60px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px #326d41;
    display: flex;
    justify-content: center;

}
tbody tr:nth-child(odd){background-color: #b6d5da;}
tbody tr:nth-child(even){background-color: #bcc7c9;}

tbody td{
    padding: 12px 25px;
    font-size: 18px;
    background-color: #479e5d;
    color: #ffffff;
}
tbody td a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
tbody td a:hover{
    color:#326d3d;
    text-decoration: underline;
}
tbody tr{
    transition: background 0.3s, transform 0.2s;
}
tbody tr:hover{
    transform:scale(1.01);
    filter:brightness(0.95);
}