* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: The seasons;
}

header {
    width: 100vw;
    height: 10vh;
    background-color: rgb(254, 195, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.container {
    width: 100vw;
    height: 90vh;
    display: flex;
}

nav {
    width: 200px;
    height: 100%;
    background-color: rgb(255, 205, 118);
    transition: 0.2s;
}

nav ul {
    list-style: none;
}

nav ul li {
    width: 200px;
    height: 40px;
    padding: 5px;
    color: rgb(109, 74, 18);
    font-family: 'Times New Roman';
}

nav ul li:hover {
    cursor: pointer;
    background-color: rgb(181, 147, 69);
}

.content {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    width: 370px;
    height: 310px;
    border-radius: 5px;
    background-color: #ffc800;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box img{
    width: 60%;
    max-height: 60%;
    border-radius: 5px;
    margin: 4px;
}
.box p{
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding: 2.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.box button{
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #c29b00;
    color: white;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}
.box button:hover{
    background-color: #735f05;
}
.box .info{
    display: flex;
    height: 35%;
    padding: 1.5px;
    flex-direction: column;
    justify-content: space-between;
}
.menu{
    display: none;
}
@media (max-width: 700px){
    .menu{
        display: block;
    }
    nav{
        width: 240px;
        position: absolute;
        top: 0;
        left: -300px;
        height: 100vh;
    }
}