body{
    background-color: #7eaba6;
    margin: 0;
    font-family:The seasons;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #4A6A63;
}

header .logo{
    width: 40px;
    height: auto;
    border-radius: 50px;
}

header .titulo{
    margin: 10px;
    flex: 1;
    text-align: left;
    color: #fff;
    font-size: 1.5rem;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.box{
    background-color: #4A6A63;
    border-radius: 20px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
}

textarea,
input{
    width: calc(100% - 40px); 
    max-width: 400px; 
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: left; 
}

label{
    font-size: large;
    width: 100%;
    text-align: center;
    margin: 0;
    display: block;
}
button{
    text-decoration: none;
    color: #ccc;
    background-color: #4A6A63;
    border-radius: 50px;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: #fff;
    color: #4A6A63;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: 10px;
}